{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="page">
        <div class="page-content">{{ page.content|raw }}</div>
    </div>
{% endblock %}

