{% extends 'base-home-article.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% block carousel %}
        {% include '/home/carousel.html.twig' %}
    {% endblock carousel %}
    <div class="home-contenu">
        <div class="bandeau rouge">
            <div class="s-container">
                <h2 class="bandeau-rouge-titre">Zoom sur</h2>
                <div class="bandeau-element">
                    <figure>
                        <img src="images/home/Couvreur.jpg" alt="Image lien vers formation couvreur">
                        <figcaption>
                            <a href="#">
                                <h3>Couvreur</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-element">
                    <figure>
                        <img src="images/home/Plaquiste-Platrier.jpg" alt="Image lien vers formation plaquiste plâtrier">
                        <figcaption>
                            <a href="#">
                                <h3>Plaquiste-plâtrier</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-element">
                    <figure>
                        <img src="images/home/Menuisier.jpg" alt="Image lien vers formation menuisier-installeur">
                        <figcaption>
                            <a href="#">
                                <h3>Menuisier installeur</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="bandeau blanc">
            <div class="s-container">
                <h2 class="bandeau-blanc-titre">Nos événements</h2>
                <div class="bandeau-element">
                    <figure>
                        <img src="images/home/Mercredis-des-apprentis.jpg" alt="Image lien vers les mercredis des apprentis">
                        <figcaption>
                            <a href="#">
                                <h3>Les mercredis des apprentis</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-element">
                    <figure>
                        <img height="196" width="350" src="images/home/Témoignages.jpg" alt="Image lien vers témoignages">
                        <figcaption>
                            <a href="#">
                                <h3>Témoignages</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-element">
                    <figure>
                        <img height="196" width="350" src="images/home/Journées-portes-ouvertes.jpg" alt="Image lien vers journées portes ouvertes">
                        <figcaption>
                            <a href="#">
                                <h3>Journées portes ouvertes</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
