{% extends 'base-home.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% block carousel %}
        {% include '/home/carousel.html.twig' %}
    {% endblock carousel %}
    <div class="home-contenu">
        <div class="bandeau-rouge">
            <div class="s-container">
                <h2 class="bandeau-rouge-titre">Zoom sur</h2>
                <div class="bandeau-rouge-element">
                    <figure>
                        <img src="images/home/Couvreur.jpg" alt="Image lien vers formation couvreur">
                        <figcaption class="bandeau-rouge-caption">
                            <a href="#">
                                <h3 class="bandeau-rouge-element-titre">Couvreur</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-rouge-element">
                    <figure>
                        <img src="images/home/Plaquiste-Platrier.jpg" alt="Image lien vers formation plaquiste plâtrier">
                        <figcaption class="bandeau-rouge-caption">
                            <a href="#">
                                <h3 class="bandeau-rouge-element-titre">Plaquiste-plâtrier</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
                <div class="bandeau-rouge-element">
                    <figure>
                        <img src="images/home/Menuisier.jpg" alt="Image lien vers formation menuisier-installeur">
                        <figcaption class="bandeau-rouge-caption">
                            <a href="#">
                                <h3 class="bandeau-rouge-element-titre">Menuisier installeur</h3>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
