{% extends 'base-home.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="carousel-container">
        <div class="carousel-gauche"></div>
        <div class="carousel-droite">
            <div class="carousel-droite-liste">
                <div class="carousel-droite-liste-item">
                    <div class="carousel-droite-icones">
                        <img src="images/icones/picto_feuille.png" alt="">
                    </div>
                    <div class="carousel-droite-liens">
                        <h3>
                            <a href="#">Se préinscrire</a>
                        </h3>
                    </div>
                </div>
                <div class="carousel-droite-liste-item">
                    <div class="carousel-droite-icones">
                        <img src="images/icones/picto_tableau.png" alt="">
                    </div>
                    <div class="carousel-droite-liens">
                        <h3>
                            <a href="#">Réussir au CFP Ste Barbe</a>
                        </h3>
                    </div>
                </div>
                <div class="carousel-droite-liste-item">
                    <div class="carousel-droite-icones">
                        <img src="images/icones/picto_ecole.png" alt="">
                    </div>
                    <div class="carousel-droite-liens">
                        <h3>
                            <a href="#">Formations pour vos salariés</a>
                        </h3>
                    </div>
                </div>
                <div class="carousel-droite-liste-item">
                    <div class="carousel-droite-icones">
                        <img src="images/icones/picto_coeur.png" alt="">
                    </div>
                    <div class="carousel-droite-liens">
                        <h3>
                            <a href="#">Soutenir nos projets</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
