{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div id="page-list">
        {% include "page/list.html.twig" with { pages } %}
    </div>
{% endblock %}
