/* general css */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.4;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Tondu, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    line-height: 1.5;
}

img {
    border-style: none;
}



/* template -> header */

.container {
    width: 1440px;
    max-width: 100%;
    background: #fff;
    overflow: hidden;
    margin: auto;
}

.s-container {
    padding: 35px 35px 60px;
    width: 1180px;
    /* padding: 35px; */
    overflow: hidden;
    margin: auto;
}

.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
}

.logo-header img {
    max-width: 100%;
    height: auto;
}

.logo-header {
    max-width: 170px;
    max-height: 170px;
}

.titre-header {
    width: 55%;
    align-self: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
    color: #d90b34;
    text-transform: uppercase;
    font-family: Tondu, sans-serif;
    font-weight: 500;
}

header h1 a {
    color: #d90b34;
    text-decoration: none;
}

header .blog-tagline {
    font-size: 16px;
    margin: 16px 0px;
}

.recherche-header {
    display: block;
    align-self: center;
}

.recherche-header span {
    font-size: 0;
}

.recherche-header input.search-field {
    border: 0.5px solid transparent;
    border-top: none;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, .39);
    padding: 10px;
}

.recherche-header button[type=submit] {
    background: #fff;
    padding: 10px;
    border: none;
    font-size: 22px;
    color: #222;
    cursor: pointer;
}

@media screen and (max-width: 1110px) {
    .container {
        width: 100%;
    }
    .banner .container {
        display: flex;
        flex-direction: row;
    }
    .top-header {
        width: 100%;
        justify-content: flex-start;
    }
    .logo-header {
        max-width: 140px;
        max-height: 140px;
    }
    .titre-header {
        margin-left: 20px;
    }
    .recherche-header {
        height: 46px;
        display: none;
        background: #f5f5f5;
    }
    .recherche-header input {
        margin-top: 8px;
        width: 80%;
        background: #f5f5f5;
    }
    .recherche-header button[type=submit] {
        position: absolute;
        right: 0;
        background: #f5f5f5;
    }
}

@media screen  and (max-width: 480px) {
    .logo-header {
        max-width: 120px;
        max-height: 120px;
    }
}

@media screen  and (max-width: 340px) {
    .logo-header {
        max-width: 60px;
        max-height: 60px;
    }
}



/* template -> nav */

header .container .top-nav {
    background-color: #f5f5f5;
    z-index: 120;
}

header .container .top-nav .menu-principal {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

header .container .top-nav .menu-principal a {
    text-transform: uppercase;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    display: block;
    font-weight: bold;
}

ul {
    box-sizing: border-box;
}

.dropbtn {
    display: none;
}


@media screen and (max-width: 1110px) {
    header .container .top-nav {
        display: none;
    }
    header .container .top-nav.open {
        display: block;
        z-index: 119;
        top: 60px;
        position: absolute;
        right: 0;
        width: 100%;
        background: #f5f5f5;
    }
    header .container .top-nav.open .menu-principal {
        margin: 0;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
    }
    header .container .top-nav.open .menu-principal li {
        border-bottom: 2px solid #fff;
    }
    .dropbtn {
        background: #f5f5f5;
        display: block;
        height: 60px;
        width: 60px;
        position: fixed;
        right: 0;
        z-index:120;
        text-decoration: none;
    }
    .dropbtn i {
        display: flex;
        justify-content: center;
        margin-top: 14px;
        font-size: 28px;
        text-decoration: none;
        color: #222;
    }
}



/* templates -> parts -> footer */

footer .s-container {
    padding: 35px;
}

.footer-rouge {
    background: #d90b34;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-inner .footer-rouge-logo {
    width: 13%;
    height: auto;
    z-index: 3;
}

.footer-inner .footer-rouge-logo a {
    display: block;
}

.footer-inner .footer-rouge-logo img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.footer-inner .footer-rouge-menu {
    flex: 1;
}

.footer-inner .footer-rouge-menu .footer-menu {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px;
}

.footer-inner .footer-rouge-menu .footer-menu>li {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 5px;
}

.footer-inner .footer-rouge-menu .footer-menu>li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-inner .footer-rouge-texte {
    text-align: center;
    width: 100%;
    margin-top: -2.2rem;
    color: #fff;
    font-size: 13px;
    z-index: 2;
}

.footer-blanc .s-container {
    padding: 1.5rem 2rem 2rem;
}

.footer-blanc .footer-blanc-texte {
    text-align: center;
    font-size: 13px;
}

@media screen and (max-width: 1280px) {
    .s-container {
        width: 90%;
        margin: auto;
    }
    .footer-inner .footer-rouge-texte {
        max-width: 75%;
        margin: -1rem auto 0;
    }
}

@media screen and (max-width: 850px) {
    footer .s-container {
        padding: 15px 0;
    }
    footer .footer-blanc .s-container {
        padding: 1.5rem 0;
    }
    .footer-inner {
        align-items: center;
        justify-content: center;
    }
    .footer-inner footer-rouge-logo:first-of-type {
        order: 1;
    }
    .footer-inner .footer-rouge-logo {
        margin: 10px 20px;
        max-width: 100%;
    }
    .footer-inner .footer-rouge-menu {
        order: 3;
        max-width: 100%;
        margin: 1rem 0 0.5rem;
        width: 100%;
        flex: none;
    }
    .footer-inner .footer-rouge-menu .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        flex-wrap: wrap;
    }
    .footer-inner .footer-rouge-menu .footer-menu>li {
        margin: 3px 0;
    }
    .footer-inner .footer-rouge-label-ideas:nth-of-type(3) {
        order: 2;
        width: 180px;
    }
    .footer-inner .footer-rouge-label-ideas {
        margin: 10px 20px;
        max-width: 100%;
    }
    .footer-inner .footer-rouge-texte {
        margin-top: 0.5rem;
        max-width: 100%;
        order: 4;
    } 
}

@media screen and (max-width: 425px) {
    .s-container {
        width: 90%;
        padding: 15px;
        margin: auto;
    }
}



/* templates -> home -> carousel */

main .carousel-container {
    background: #d90b34;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}


/* partie gauche du carousel */

main .carousel-container .carousel-gauche {
    max-width: 60%;
    display: block;
    position: relative;
    overflow: hidden;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu {
    overflow: overlay;
    display: flex;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element {
    flex: 1 0 100%;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-image img {
    height: auto;
    width: 100%;
    display: block;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu {
    position: inherit;
    bottom: 0;
    background-color: #fff;
    left: 10%;
    right: 10%;
    height: 130px;
    display: flex;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu .accueil-carousel-header h2 {
    position: absolute;
    margin: -18px 0 0;
    padding: 3px 10px;
    color: #fff;
    text-transform: uppercase;
    background: #d90b34;
    font-size: 18px;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu .carousel-gauche-element-preview {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu .carousel-gauche-element-preview h3 {
    align-self: center;
}

main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu .carousel-gauche-element-preview h3 a {
    text-decoration: none;
    color: #222;
}

main .carousel-container .carousel-gauche .carousel-gauche-buttons {
    position: absolute;
    display: flex;
    bottom: 120px;
    right: 10%;
}

main .carousel-container .carousel-gauche .carousel-gauche-buttons .btn-carousel {
    padding: 4px;
    background-color: #d90b34;
    color: #fff;
    font-size: 0;
    opacity: 1;
    cursor: pointer;
}

main .carousel-container .carousel-gauche .carousel-gauche-buttons #prev {
    margin-right: 10px
}

/* partie droite du carousel  */

main .carousel-container .carousel-droite .carousel-droite-liste {
    padding: 40px 45px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #f5f5f5;
    height: 100%;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item#last-item {
    border-bottom: none;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item .carousel-droite-icones {
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 30px;
    align-self: center;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item .carousel-droite-icones img {
    max-width: 70px;
    height: auto;
    align-self: center;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item .carousel-droite-liens {
    align-self: center;
}

main .carousel-container .carousel-droite .carousel-droite-liste .carousel-droite-liste-item .carousel-droite-liens h3 a {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    main .carousel-container {
        flex-direction: column;
        margin-bottom: 30px;
    }
    main .carousel-container .carousel-gauche {
        max-width: 100%;
    }
    main .carousel-container .carousel-gauche .carousel-gauche-contenu .carousel-gauche-element .carousel-gauche-element-contenu {
        position: inherit;
        margin-top: -5px;
        right: 0;
        left: 0;
    }
    main .carousel-container .carousel-gauche .carousel-gauche-buttons {
        right: 0;
    }
}


/* templates -> home */

main .home-contenu {
    min-width: 75%;
    font-size: 15px;
    line-height: 1.3rem;
}

main .home-contenu .bandeau .s-container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .home-contenu .bandeau.rouge {
    background-color: #d90b34;
}

main .home-contenu .bandeau.blanc {
    background-color: #fff;
}

main .home-contenu .bandeau .s-container h2 {
    width: 100%;
    font-family: Tondu, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
}

main .home-contenu .bandeau.rouge .s-container h2 {
    color: #fff;
    position: relative;
    display: block;
}

main .home-contenu .bandeau.blanc .s-container h2 {
    color: #222;
    position: relative;
    display: block;
}

main .home-contenu .bandeau .s-container .bandeau-element {
    margin-top: 10px;
}

main .home-contenu .bandeau .s-container .bandeau-element figure {
    margin: 0;
    position: relative;
}

main .home-contenu .bandeau .s-container .bandeau-element figure img {
    display: block;
}

main .home-contenu .bandeau .s-container .bandeau-element figure figcaption {
    position: absolute;
    top: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

main .home-contenu .bandeau .s-container .bandeau-element figure figcaption a {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main .home-contenu .bandeau .s-container .bandeau-element figure figcaption a h3 {
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 850px) {
    main .home-contenu .bandeau .s-container {
        justify-content: center;
    }
    main .home-contenu .bandeau .s-container h2 {
        font-size: 30px;
    }
    main .home-contenu .bandeau .s-container .bandeau-element figure img {
        max-width: 100%;
        height: auto;
    }
}




/* actualités -> articles show */

.presentation-page {
    margin: 35px 0 60px;
    font-family: RobotoCondensed, sans-serif;
    color: #d90b34;
    font-size: 18px;
    line-height: 1.8rem;
}

#article-list article .item-article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 40px 0;
}

#article-list article .item-article .item-article-featuredimg {
    margin: 0 30px 0 0;
}

#article-list article .item-article .item-article-informations {
    width: 100%;
}

#article-list article .item-article .item-article-informations .item-article-createdat {
    color: #d90b34;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#article-list article .item-article .item-article-informations h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 20px;
}

#article-list article .item-article .item-article-informations h3 a {
    color: #000;
}

#article-list article .item-article .item-article-informations .item-article-description p {
    margin: 20px 0 0;
    font-size: 16px;
    color: #4a4a4a;
}

#article-list article .item-article .item-article-informations .item-article-description a {
    color: #d90b34;
}

@media screen and (max-width: 850px) {
    #article-list article .item-article {
        flex-direction: column;
        align-items: center;
    }
    #article-list article .item-article .item-article-featuredimg {
        margin: 0;
    }
}