<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centre de formation professionnelle Sainte Barbe</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ asset('fonts/tondu/style.css') }}" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="banner">
            <div class="container">
                <div class="top-header">
                    <div class="logo-header">
                        <a href="/">
                            <img src="{{ asset('images/apprentis-auteuil-logo.jpg') }}" decoding="async" width="100">
                        </a>
                    </div>
                    <div class="titre-header">
                        <h1>
                            <a href="/">
                                Centre de Formation Professionnelle Sainte Barbe
                            </a>
                        </h1>
                        <p class="blog-tagline">Métiers du bâtiment, de l'éco-construction, et de l'éco-rénovation.</p>
                    </div>
                    <div class="recherche-header">
                        <form role="search" method="get" class="search-form" action="/">
                            <label>
                                <span class="screen-reader-text">Rechercher&nbsp;</span>
                                <input type="search" class="search-field" placeholder="Recherche..." value name="s">
                            </label>
                            <button type="submit" class="search-submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">Rechercher</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="top-nav">
                    <div class="menu-principal-container">
                        <ul class="menu-principal">
                            <li class="menu-principal-item">
                                <a href="/presentation">Présentation</a>
                                <!-- <ul classe="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/mot-de-la-directrice">Mot de la directrice</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/reussir-au-cfp-sainte-barbe">Réussir au CFP Sainte Barbe</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-accompagnement-personnalise">L'accompagnement personnalisé</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-equipe-educative-et-pedagogique">L'équipe pédagogique et éducative</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/les-missions-d-apprentis-d-auteuil">Les missions d'Apprentis d'Auteuil</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/nos-metiers">Nos métiers</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/couvreur">Couvreur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/zingueur">Zingueur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/etancheur">étancheur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/menuisier-installeur">Menuisier Installeur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/menuisier-fabricant">Menuisier Fabricant</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/plaquiste-platrier">Plaquiste-plâtrier</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/coffreur-bancheur">Coffreur bancheur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/macon">Maçon</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/agent-de-maintenance-des-batiments">Agent de maintenances des bâtiments</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/nos-dispositifs-d-insertion">Nos dispositifs d'insertion</a>
                            </li>
                            <li class="menu-principal-item">
                                <a href="/un-projet-professionnel">Un projet professionnel</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="
                                        /l-alternance-une-voie-gagnante">L'alternance, une voie gagnante</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/se-preparer-a-l-apprentissage">Se préparer à l'apprentissage</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/temoignages">Témoignages</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/un-ecrin-vert">Un écrin vert</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/eco-construction">Eco-construction</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/visite-virtuelle-du-site">Visite virtuelle du site</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/vie-pratique">Vie pratique</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/se-loger-a-proximite">Se loger à proximité</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/transport-et-parking">Transport et parking</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/carte-generations">Carte générations #HDF</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/snackerie">Snackerie</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/salle-d-activites">Salle d'activités</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/espace-entreprise">Espace entreprise</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/sous-certification-qualiopi">Organisme de formation Apprentis d'Auteuil : sous certificatio Qualiopi</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/formation-continue">Formation continue</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/formation-sur-mesure-pour-vos-salaries">Formation sur-mesure pour vos salariés</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-apprentissage-un-boost-pour-votre-entreprise">L'apprentissage, un boost pour votre entreprise</a>
                                    </li>
                                </ul> -->
                            </li>
                            <li class="menu-principal-item">
                                <a href="/contactez-nous">Contactez-nous</a>
                            </li>
                            <li class="menu-principal-item">
                                <a href="/actualites">Actualités</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="dropbtn" href="#"></a>
            </div>
        </header>

        <div id="container">
            <?= $content ?>
        </div>
        <h1>{% block title %}{% endblock %}</h1>
        <footer>
            <div class="container">
                <div class="footer-rouge">
                    <div class="footer-inner s-container">
                        <div class="footer-rouge-logo">
                            <a href="http://www.apprentis-auteuil.org">
                                <img src="images/logo_aa_blanc.png" alt data-src="/public/images/logo_aa_blanc.png" decoding="async" width="75" height="77">
                            </a>
                        </div>
                        <div class="footer-rouge-menu">
                            <ul class="footer-menu">
                                <li class="footer-menu-item">
                                    <a href="https://www.apprentis-auteuil.org/comment-soutenir-apprentis-dauteuil.html">Comment soutenir Apprentis d'Auteuil</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="/mentions-legales">Mentions légales</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="/contact">Nous contacter</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-rouge-label-ideas">
                            <a href="http://www.ideas.asso.fr/">
                                <img src="images/label-ideas.png" alt data-src="/public/images/label-ideas.png" decoding="async" width="144" height="53">
                            </a>
                        </div>
                        <div class="footer-rouge-texte">
                            Fondation catholique reconnue d'utilité publique, acteur engagé de la prévention et de la protection de l'enfance.
                        </div>
                    </div>
                </div>
                <div class="footer-blanc">
                    <div class="s-container">
                        <div class="footer-blanc-texte">Fondation reconnue d’utilité publique, acteur engagé de la prévention et de la protection de l’enfance, Apprentis d’Auteuil développe en France et à l’international des programmes d’accueil, d’éducation, de formation et d’insertion pour redonner aux jeunes et aux familles fragilisés ce qui leur manque le plus : la confiance. Les 7 200 collaborateurs d’Apprentis d’Auteuil accompagnent près de 40 000 jeunes et 8 000 familles dans plus de 400 établissements. A l’international, Apprentis d’Auteuil mène des actions dans plus de 31 pays aux côtés de 68 organisations partenaires. Pour soutenir nos actions, n’hésitez pas à faire un don à notre fondation. Apprentis d’Auteuil – fondation protection de l’enfance.</div>
                    </div>
                </div>
            </div> 
        </footer>
    </body>
</html>