{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Projets/projets_symfony/cfp_sainte_barbe/src/Controller/ArticleController.php</code></li>
        <li>Your template at <code>C:/Projets/projets_symfony/cfp_sainte_barbe/templates/article/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
