{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="article-category">{{ article.category }}</div>

<div class="article-content">{{ article.content|raw }}</div>
{% endblock %}
