{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div id="article-list">
        {% include "article/list.html.twig" with { articles } %}
    </div>
{% endblock %}
