{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="presention-page">
        <p>Retrouvez toutes les actualités du CFP Sainte-Barbe !</p>
    </div>

    <div id="article-list">
        {% include "article/list.html.twig" with { articles } %}
    </div>
{% endblock %}
