<footer>
    <div class="container">
        <div class="footer-rouge">
            <div class="footer-inner s-container">
                <div class="footer-rouge-logo">
                    <a href="http://www.apprentis-auteuil.org">
                        <img src="{{ asset('images/logo_aa_blanc.png') }}" alt="logo apprentis d'auteuil blanc" data-src="/public/images/logo_aa_blanc.png" decoding="async" width="75" height="77">
                    </a>
                </div>
                <div class="footer-rouge-menu">
                    <ul class="footer-menu">
                        <li class="footer-menu-item">
                            <a href="https://www.apprentis-auteuil.org/comment-soutenir-apprentis-dauteuil.html">Comment soutenir Apprentis d'Auteuil</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="/accueil/mentions-legales">Mentions légales</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="/contact">Nous contacter</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-rouge-label-ideas">
                    <a href="http://www.ideas.asso.fr/">
                        <img src="{{ asset('images/label-ideas.png') }}" alt="logo certification label ideas" data-src="/public/images/label-ideas.png" decoding="async" width="144" height="53">
                    </a>
                </div>
                <div class="footer-rouge-texte">
                    Fondation catholique reconnue d'utilité publique, acteur engagé de la prévention et de la protection de l'enfance.
                </div>
            </div>
        </div>
    <div class="footer-blanc">
        <div class="s-container">
            <div class="footer-blanc-texte">Fondation reconnue d’utilité publique, acteur engagé de la prévention et de la protection de l’enfance, Apprentis d’Auteuil développe en France et à l’international des programmes d’accueil, d’éducation, de formation et d’insertion pour redonner aux jeunes et aux familles fragilisés ce qui leur manque le plus : la confiance. Les 7 200 collaborateurs d’Apprentis d’Auteuil accompagnent près de 40 000 jeunes et 8 000 familles dans plus de 400 établissements. A l’international, Apprentis d’Auteuil mène des actions dans plus de 31 pays aux côtés de 68 organisations partenaires. Pour soutenir nos actions, n’hésitez pas à faire un don à notre fondation. Apprentis d’Auteuil – fondation protection de l’enfance.</div>
            </div>
        </div>
    </div> 
</footer>