<header class="banner">
    <div class="container">
        <div class="top-header">
            <div class="logo-header">
                <a href="/">
                    <img src="{{ asset('images/apprentis-auteuil-logo.jpg') }}" decoding="async" width="100">
                </a>
            </div>
            <div class="titre-header">
                <h1>
                    <a href="/">
                        Centre de Formation Professionnelle Sainte Barbe
                    </a>
                </h1>
                <p class="blog-tagline">Métiers du bâtiment, de l'éco-construction, et de l'éco-rénovation.</p>
            </div>
            <div class="recherche-header">
                <form role="search" method="get" class="search-form" action="/">
                    <label>
                        <span class="screen-reader-text">Rechercher&nbsp;</span>
                            <input type="search" class="search-field" placeholder="Recherche..." value name="s">
                    </label>
                    <button type="submit" class="search-submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="sr-only">Rechercher</span>
                    </button>
                </form>
            </div>
        </div>
        <nav class="top-nav">
            <div class="menu-principal-container">
                <ul class="menu-principal">
                    <li class="menu-principal-item">
                        <a href="/presentation">Présentation</a>
                                <!-- <ul classe="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/mot-de-la-directrice">Mot de la directrice</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/reussir-au-cfp-sainte-barbe">Réussir au CFP Sainte Barbe</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-accompagnement-personnalise">L'accompagnement personnalisé</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-equipe-educative-et-pedagogique">L'équipe pédagogique et éducative</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/les-missions-d-apprentis-d-auteuil">Les missions d'Apprentis d'Auteuil</a>
                                    </li>
                                </ul> -->
                    </li>
                    <li class="menu-principal-item">
                        <a href="/nos-metiers">Nos métiers</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/couvreur">Couvreur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/zingueur">Zingueur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/etancheur">étancheur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/menuisier-installeur">Menuisier Installeur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/menuisier-fabricant">Menuisier Fabricant</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/plaquiste-platrier">Plaquiste-plâtrier</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/coffreur-bancheur">Coffreur bancheur</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/macon">Maçon</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/agent-de-maintenance-des-batiments">Agent de maintenances des bâtiments</a>
                                    </li>
                                </ul> -->
                    </li>
                    {# <li class="menu-principal-item">
                        <a href="/nos-dispositifs-d-insertion">Nos dispositifs d'insertion</a>
                    </li> #}
                    <li class="menu-principal-item">
                        <a href="/un-projet-professionnel">Un projet professionnel</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="
                                        /l-alternance-une-voie-gagnante">L'alternance, une voie gagnante</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/se-preparer-a-l-apprentissage">Se préparer à l'apprentissage</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/temoignages">Témoignages</a>
                                    </li>
                                </ul> -->
                    </li>
                    <li class="menu-principal-item">
                        <a href="/un-ecrin-vert">Un écrin vert</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/eco-construction">Eco-construction</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/visite-virtuelle-du-site">Visite virtuelle du site</a>
                                    </li>
                                </ul> -->
                    </li>
                    <li class="menu-principal-item">
                        <a href="/vie-pratique">Vie pratique</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/se-loger-a-proximite">Se loger à proximité</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/transport-et-parking">Transport et parking</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/carte-generations">Carte générations #HDF</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/snackerie">Snackerie</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/salle-d-activites">Salle d'activités</a>
                                    </li>
                                </ul> -->
                    </li>
                    <li class="menu-principal-item">
                        <a href="/espace-entreprise">Espace entreprise</a>
                                <!-- <ul class="sub-menu">
                                    <li class="sub-menu_item">
                                        <a href="/sous-certification-qualiopi">Organisme de formation Apprentis d'Auteuil : sous certificatio Qualiopi</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/formation-continue">Formation continue</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/formation-sur-mesure-pour-vos-salaries">Formation sur-mesure pour vos salariés</a>
                                    </li>
                                    <li class="sub-menu_item">
                                        <a href="/l-apprentissage-un-boost-pour-votre-entreprise">L'apprentissage, un boost pour votre entreprise</a>
                                    </li>
                                </ul> -->
                    </li>
                    <li class="menu-principal-item">
                        <a href="/contactez-nous">Contactez-nous</a>
                    </li>
                    <li class="menu-principal-item">
                        <a href="/actualites">Actualités</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a class="dropbtn" href="#">
            <i id="hamburger" class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>
</header>