<header class="banner">
    <div class="container">
        <div class="top-header">
            <div class="logo-header">
                <a href="/">
                    <img src="{{ asset('images/apprentis-auteuil-logo.jpg') }}" decoding="async" width="100">
                </a>
            </div>
            <div class="titre-header">
                <h1>
                    <a href="/">
                        Centre de Formation Professionnelle Sainte Barbe
                    </a>
                </h1>
                <p class="blog-tagline">Métiers du bâtiment, de l'éco-construction, et de l'éco-rénovation.</p>
            </div>
            <div class="recherche-header">
                <form role="search" method="get" class="search-form" action="/">
                    <label>
                        <span class="screen-reader-text">Rechercher&nbsp;</span>
                            <input type="search" class="search-field" placeholder="Recherche..." value name="s">
                    </label>
                    <button type="submit" class="search-submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="sr-only">Rechercher</span>
                    </button>
                </form>
            </div>
        </div>
        {% block nav %}{% include '/parts/nav.html.twig' %}{% endblock %}
        <a class="dropbtn" href="#">
            <i id="hamburger" class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>
</header>

