<nav class="top-nav">
    <div class="menu-principal-container">
        <ul class="menu-principal">
            <li class="menu-principal-item">
                <a href="/presentation">Présentation</a>    
            </li>
            <li class="menu-principal-item">
                <a href="/nos-metiers">Nos métiers</a>
            </li>
            <li class="menu-principal-item">
                <a href="/un-projet-professionnel">Un projet professionnel</a>             
            </li>
            <li class="menu-principal-item">
                <a href="/un-ecrin-vert">Un écrin vert</a>
            </li>
            <li class="menu-principal-item">
                <a href="/vie-pratique">Vie pratique</a>
            </li>
            <li class="menu-principal-item">
                <a href="/espace-entreprise">Espace entreprise</a>
            </li>
            <li class="menu-principal-item">
                <a href="/nous-contacter">Nous contacter</a>
            </li>
            <li class="menu-principal-item">
                <a href="/actualites">Actualités</a>
            </li>
        </ul>
    </div>
</nav>