{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div id="page-list">
        <div class="item-page">
            <figure class="item-page-lien">
                <a class="item-page-miniature" href="/nous-contacter/se-preinscrire">
                    <img src="/images/contact/se-preinscrire.jpg" alt="photo d'élèves dans les couloirs" loading="lazy" width="350" height="196">
                </a>
                <figcaption>
                    <a href="/nous-contacter/se-preinscrire">
                        <h3>Se préinscrire</h3>
                    </a>
                </figcaption>
            </figure>
            <div class="item-page-informations">    
                <div class="item-page-description">
                    <p>Merci de remplir ce formulaire.  Découvrez tous nos métiers !</p>
                </div>
            </div>
        </div>
        <div class="item-page">
            <figure class="item-page-lien">
                <a class="item-page-miniature" href="/nous-contacter/contact">
                    <img src="/images/contact/contact.jpg" alt="photo du cfp sainte-barbe" loading="lazy" width="350" height="196">
                </a>
                <figcaption>
                    <a href="/nous-contacter/contact">
                        <h3>Contact</h3>
                    </a>
                </figcaption>
            </figure>
            <div class="item-page-informations">    
                <div class="item-page-description">
                    <p>Où sommes nous ? 2 rue Paul Gauguin – 62750 Loos-en-Gohelle Tel. : 03 21 14 77...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
